.advantages {
  position: relative;
  background: no-repeat center/ cover url("../img/advantages/advantages-bkg-l.png") #e3ecf6;
  background-blend-mode: lighten;
}

.advantages--wrapper {

  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
  width: 100%;
  min-height: 562px;
  height: 100%;
  padding-top: 109px;

  @media #{$middle-vp} {
    padding-top: 90px;
    padding-bottom: 100px;
    gap: 49px;
  }

  @media #{$narrow-vp} {
    padding-top: 58px;
    padding-bottom: 65px;
    gap: 30px;
  }
}

.advantages__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
  padding: 0;
  z-index: 1;

  @media #{$middle-vp} {
    gap: 30px;
  }

  @media #{$narrow-vp} {
    flex-direction: column;
    gap: 31px;
  }
}
