.advantages {
  position: relative;
  background-blend-mode: lighten;

  @media #{$wide-vp} {
    background: no-repeat center/ cover url("../img/advantages/advantages-bkg-l.jpg") #e3ecf6;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background: no-repeat center/ cover url("../img/advantages/advantages-bkg-l@2x.jpg") #e3ecf6;
    }
  }

  @media #{$middle-vp} {
    background: no-repeat center/ cover url("../img/advantages/advantages-bkg-m.jpg") #e3ecf6;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background: no-repeat center/ cover url("../img/advantages/advantages-bkg-m@2x.jpg") #e3ecf6;
    }
  }

  @media #{$narrow-vp} {
    background: no-repeat center/ cover url("../img/advantages/advantages-bkg-s.jpg") #e3ecf6;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background: no-repeat center/ cover url("../img/advantages/advantages-bkg-s@2x.jpg") #e3ecf6;
    }
  }
}

.advantages--wrapper {
  box-sizing: border-box;
  width: 100%;
  min-height: 562px;
  height: 100%;
  padding-top: 110px;
  padding-bottom: 120px;

  @media #{$not-narrow-vp} {
    display: flex;
    flex-direction: column;
    gap: 49px;
  }

  @media #{$middle-vp} {
    padding-top: 90px;
    padding-bottom: 100px;
    gap: 49px;
  }

  @media #{$narrow-vp} {
    padding-top: 58px;
    padding-bottom: 35px;

    h2 {
      margin-bottom: 30px;
    }
  }
}

.advantages__list {
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;

  @media #{$not-narrow-vp} {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  @media #{$middle-vp} {
    gap: 30px;
  }

  @media #{$narrow-vp} {
    .advantages__item {
      margin-bottom: 30px;
    }
  }
}
