.article {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: flex-start;
  padding: 120px 103px;
  max-width: 1160px;
  margin: 0 auto;

  @media #{$middle-vp} {
    gap: 30px;
    padding: 100px 0;
    margin: 0 45px;
  }

  @media #{$narrow-vp} {
    flex-direction: column;
    gap: 33px;
    padding: 57px 0 0;
    margin: 0 15px;
  }
}

.article h2 {
  position: absolute;
  transform: scale(0);
  top: 0;
  left: 0;
  font-size: 0;
  line-height: 0;
  margin: 0;
}

.article__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 56px;

  @media #{$not-wide-vp} {
    padding: 0;
  }

  @media #{$middle-vp} {
    margin-top: -8px;
    gap: 16px;
  }

  @media #{$narrow-vp} {
    gap: 17px;
  }
}

.article h3 {
  font-family: $ff-montserrat;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  color: $color-tangaroa;
  margin: 0;

  @media #{$middle-vp} {
    font-size: 26px;
    line-height: 36px;
    max-width: 260px;
  }

  @media #{$narrow-vp} {
    font-size: 24px;
    line-height: 33px;
    max-width: 260px;
  }
}

.article p {
  font-family: $ff-montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $color-tangaroa;
  margin: 0;
}

.article img {
  @media #{$middle-vp} {
    width: 324px;
    height: 264px;
  }

  @media #{$narrow-vp} {
    width: 290px;
    height: 186px;
  }
}
