.catalog-card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 386px;
  padding: 22px 30px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $tangaroa-to-up;
    z-index: 1;
  }

  @media #{$middle-vp} {
    padding: 27px 35px;
  }

  @media #{$narrow-vp} {
    padding: 17px 25px;
  }
}

.catalog-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.catalog-card h3,
.catalog-card h4 {
  font-family: $ff-montserrat;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
  margin: 0;
}

.catalog-card h3 {
  z-index: 2;
}

.catalog-card dd {
  font-family: $ff-montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $color-alice-blue;
  margin: 0;
}

.catalog-card dt {
  font-family: $ff-montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  word-spacing: -0.9px;
  color: $color-quartz;
  margin: 0;
}

.catalog-card a {
  box-sizing: border-box;
  display: block;
  justify-self: flex-end;
  font-family: $ff-montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: $color-tangaroa;
  text-decoration: none;
  text-align: center;
  min-height: 40px;
  background: $color-alice-blue;
  padding: 10px 10px 8px;
  margin: 0;

  &:hover {
    color: $hover-color;
  }

  &:active {
    box-shadow: inset 0 0 0 1px $hover-color;
    opacity: 0.8;
  }

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 3px $hover-color;
  }
}

.catalog-card__description {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 386px;
  height: 100%;
  width: 100%;
  padding: 29px 25px 35px;
  background: $color-tangaroa;
  z-index: -1;
  opacity: 0;
  transform: scale(0);

  @media #{$middle-vp} {
    padding: 30px 35px 35px;
  }

  h4 {
    margin-bottom: 13px;
  }
}

.catalog-card__list {
  height: 230px;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $color-tangaroa $hover-color;

  .catalog-card__item {
    margin-bottom: 12px;
  }
  margin-bottom: 12px;
}

.catalog-card__list::-webkit-scrollbar {
  width: 3px;
}

.catalog-card__list::-webkit-scrollbar-track {
  background: $hover-color;
}

.catalog-card__list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $color-tangaroa;
}

.catalog-card:hover .catalog-card__description,
.catalog-card__description:focus-within {
  height: 100%;
  z-index: 5;
  opacity: 1;
  transform: scale(1);
}

.catalog-card:hover h3,
.catalog-card:focus-within h3 {
  position: absolute;
  z-index: -1;
}

.catalog-card:focus-within,
.catalog-card:hover {
  padding: 0;
}
