.catalog {
  display: flex;
  flex-direction: column;
  gap: 49px;
  padding-top: 111px;
  padding-bottom: 120px;

  @media #{$middle-vp} {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @media #{$narrow-vp} {
    gap: 30px;
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1130px;
  list-style: none;
  padding: 0;

  margin: 0 auto;

  @media (min-width: 339px) and (max-width: 1365px) {
    margin: 0 60px;
  }

  @media (max-width: 338px) {
    justify-content: center;
    margin: 0 auto;
  }
}

.catalog__item {
  flex-grow: 0;
  flex-shrink: 1;
  width: 260px;

  @media (min-width: 738px) and (max-width: 1365px) {
    max-width: 309px;
    width: 100%;
  }

  @media (max-width: 737px) {
    max-width: 270px;
    width: 100%;
  }
}
