.footer-logo svg {
  fill: $logo-default-color;

  @media #{$middle-vp} {
    width: 38px;
    height: 24px;
  }
}

.footer-logo {
  align-self: flex-start;

  @media #{$narrow-vp} {
    display: flex;
    width: 44px;
  }
}
