.footer {
  flex-shrink: 1;
  flex-grow: 0;
  background: $color-tangaroa;
}


.footer__grid {
  padding: 50px 0 45px;

  @media #{$not-narrow-vp} {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  @media #{$middle-vp} {
    padding: 48px 0 44px;
  }

  @media #{$narrow-vp} {
    padding: 31px 0 39px;
  }

  @media #{$narrow-vp} {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

.footer__navigation {
  @media #{$not-narrow-vp} {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

  @media #{$middle-vp} {
    gap: 15px;
  }

  @media #{$narrow-vp} {
    margin-bottom: 13px;
  }
}

.footer__navigation-list {
  padding: 0 0 1px;
  margin: 0;
  list-style: none;


  @media #{$not-narrow-vp} {
    display: flex;
    align-items: flex-start;
    gap: 33px;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 600px;
  }

  @media #{$not-wide-vp} {
    gap: 23px;
  }

  @media #{$middle-vp} {
    max-width: 480px;
    padding: 2px 10px;
  }

  @media #{$narrow-vp} {
    width: 100%;
  }
}

.footer__navigation-item {
  @media #{$not-narrow-vp} {
    max-width: 180px;
  }

  @media #{$narrow-vp} {
    margin-bottom: 13px;
  }
}

.footer__social-list {
  transform: translate(-5px, 11px);

  @media #{$not-narrow-vp} {
    align-self: flex-start;
  }

  @media #{$not-wide-vp} {
    transform: translateX(-3px);
  }

  @media #{$middle-vp} {
    transform: translate(-3px, 4px);
  }

  @media #{$narrow-vp} {
    justify-content: flex-start;
  }
}

.footer a {
  font-family: $ff-montserrat;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $color-alice-blue;
  text-decoration: none;

  @media #{$not-wide-vp} {
    font-size: 12px;
    line-height: 15px;
  }

  &:hover {
    color: $hover-color;
  }

  &:active {
    opacity: 0.8;
  }

  &:focus-visible {
    outline-color: $hover-color;
  }
}
