.footer {
  flex-shrink: 1;
  flex-grow: 0;
  background: $color-tangaroa;
}


.footer__grid {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 45px;

  @media #{$middle-vp} {
    padding: 48px 0 44px;
  }

  @media #{$narrow-vp} {
    padding: 31px 0 39px;
  }

  @media #{$narrow-vp} {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

.footer__navigation {
  display: flex;
  align-items: center;
  gap: 40px;

  @media #{$middle-vp} {
    gap: 25px;
  }

  @media #{$narrow-vp} {
    flex-direction: column;
    gap: 18px;
  }
}

.footer__navigation-list {
  display: flex;
  align-items: center;
  gap: 33px;
  padding: 0 0 1px;
  margin: 0;
  list-style: none;

  @media #{$not-wide-vp} {
    gap: 23px;
  }

  @media #{$middle-vp} {
    padding-bottom: 6px;
  }

  @media #{$narrow-vp} {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }
}

.footer a {
  font-family: $ff-montserrat;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $color-alice-blue;
  text-decoration: none;

  @media #{$not-wide-vp} {
    font-size: 12px;
    line-height: 15px;
  }

  &:hover {
    color: $hover-color;
  }

  &:active {
    opacity: 0.8;
  }

  &:focus-visible {
    outline-color: $hover-color;
  }
}
