.header {
  box-sizing: border-box;

  @media #{$wide-vp} {
    height: 76px;
  }

  @media #{$middle-vp} {
    height: 54px;
  }

  @media #{$narrow-vp} {
    height: 66px;

    &--noscript {
      height: 100%;
    }
  }
}

.header--noscript .header__hide {
  display: none;
}

.header--noscript .header__grid {
  justify-content: center;
}

.header__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;

  @media #{$middle-vp} {
    padding: 30px 45px 0;
  }

  @media #{$narrow-vp} {
    padding: 20px 15px;
  }
}
