// Colors
// ---------------------------------

// Default

$color-default-blue: #011c40;
$color-default-solitude: #e3ecf6;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$logo-default-color: #f9fbfd;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-tangaroa: #011c40;
$color-torch-red: #ff1553;
$color-alice-blue: #f9fbfd;
$color-quartz: #d8d8d9;

// Gradient

$tangaroa-to-up: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13

$ff-montserrat: "Montserrat", "Arial", sans-serif;

$ff-placeholder: "Montserrat", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

$narrow-vp: "(max-width: 767.5px)";
$not-narrow-vp: "(min-width: 768px)";
$middle-vp: "(min-width: 768px) and (max-width: 1365.5px)";
$wide-vp: "(min-width: 1366px)";
$not-wide-vp: "(max-width: 1365.5px)";

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
