// Colors
// ---------------------------------

// Default

$color-default-blue: #011c40;
$color-default-solitude: #e3ecf6;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$logo-default-color: #f9fbfd;
$hover-color: #2363b7;
$palceholder-color: rgba(1, 28, 64, 0.7);
$mount-color: rgba(0, 43, 102, 0.5);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-tangaroa: #011c40;
$color-alice-blue: #f9fbfd;
$color-quartz: #d8d8d9;

// Gradient

$tangaroa-to-up: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13

$ff-montserrat: "Montserrat", "Arial", sans-serif;

$ff-placeholder: "Montserrat", "Arial", sans-serif;


$narrow-vp: "(max-width: 767px)";
$not-narrow-vp: "(min-width: 768px)";
$middle-vp: "(min-width: 768px) and (max-width: 1023px)";
$wide-vp: "(min-width: 1024px)";
$not-wide-vp: "(max-width: 1023px)";

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
